{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}



      <div align="center">
        <h2>Temperatures recorded in DBs:</h2>
      </div>

<hr>
<div class="col-md-4">
    <table class="table table-striped table-hover">
  <thead>
    <tr>
     <th>Airport</th>
     <th>Date</th>
     <th>Temperature</th>
  </tr>
 </thead>
{% for z in results %}
    <tr>
      <td>{{z.iata}}</td>
      <td>{{z.date}}</td>
      <td>{{z.temp}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>


<hr>

<div align="center"
    <p><a href="/"><button type="submit" class="btn btn-primary">Return home</button></p></a>
</div>


{% endblock %}
